body {
    font-family: 'Taviraj', serif;
    line-height: 24px;
    background-color: #CAB394;
    /*background-image: url("../images/indexaircraft.jpg");*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
}

header {
    margin-top: 50px;
    /*padding: 40px 0;*/
    text-align: center;
    height: 120px;
}


header h1 {
    /*text-align: left;*/
    vertical-align: middle;
    font-size: 200px;
    line-height: 32px;
    margin: 0 auto;
    /*padding: 10px 10px 0 10px;*/
    max-width: 780px;
    color: #34251e;
    display: inline;
}

.mySlides {
    border: 3px solid #645245;
    border-radius: 8px;
    display:none;
    max-height: 480px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.container-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        /*"banner"*/
            "header"
            "main"
            "footer";
    /*background-color: #C89691;*/
    /*background-image: url("../images/indexaircraft.jpg");*/
    max-width: 780px;
    margin: auto;
    min-height: 100px;
}

.message {
    font-size: 5em;
    color:#252526;
    font-family: 'Ubuntu', sans-serif;
}


/*.banner {*/
    /*grid-area: banner;*/
/*}*/

/*nav {*/
    /*padding-left: 0;*/
    /*margin-bottom: 0;*/
    /*list-style: none;*/
    /*float:right;*/
    /*display:inline;*/
/*}*/

nav ul {
    list-style-type: none;
}

nav ul > li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: white;
}

/*nav li > a {*/
/*    position: relative;*/
/*    display: block;*/
/*    padding: 5px 5px;*/
/*}*/

.icon {
    display: block;
    /*margin: auto auto;*/
}

nav {
    margin-right: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-area {
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
}
.site-header-index {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    background-color: #252526;
}
.site-header-index h2 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.site-header-title {
    display:flex;
    align-items: center;
    margin-left: 30px;
}
.site-index {
    grid-area: main;
    background-color: white;
}
.site-index-title {
    display:flex;
    justify-content: center;
    align-items: center;
}
.site-index-body {
    display:flex;
    justify-content: center;
    align-items: center;
}
.site-footer {
    grid-area: footer;
}


footer {
    /*background-color: #C89691;*/
    margin: auto;
    width: 720px;
    text-align: center;
}
