body {
    font-family: 'Taviraj', serif;
    line-height: 24px;
    /*background-color: #C89691;*/
    background-image: url("../images/trainbg.jpg");
    background-attachment: fixed;
    background-size: cover;

}

a[href] {
    color: #476286;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background-color: #F0F2F5;
    color: #999999;
    padding: 5px;
}

blockquote p {
    font-style: italic;
    padding: 0 10px;
}

blockquote p:last-child {
    font-style: normal;
    padding-left: 30px;

}

/* Header */

header {
    padding: 40px 0;
    text-align: center;
}


header h1 {
    /*text-align: left;*/
    vertical-align: middle;
    font-size: 100px;
    line-height: 32px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
    max-width: 780px;
    color: #bb7645;
    display: inline;
}

/* Navigation */

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

nav ul {
    list-style-type: none;
    /*margin: 0 auto;*/
    margin-right: 30px;
}

nav ul > li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: #222;
    padding: 0px;
}

nav li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
}


.pagination {
    text-align: center;
    margin: 30px auto;
    color: #888;
}

.pagination a {
    padding: 0 5px
}

/* Blog */

.date {
    font-size: 0.75em;
    color: #999999;
}

.icons {
    display: block;
    float: right;
}

.error {
    color: red;
}

/* Footer */

footer {
    background-color: #C89691;
    margin: auto;
    width: 720px;
    text-align: center;
}

/*!*new-homepage*!*/
/*footer-index {*/
/*!*background-color: #C89691;*!*/
/*margin: auto;*/
/*width: 720px;*/
/*text-align: center;*/
/*}*/

