/*.container {*/
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: auto auto auto;*/
    /*grid-template-areas:*/
        /*!*"banner"*!*/
            /*"header"*/
            /*"main"*/
            /*"footer";*/
    /*background-color: #C89691;*/
    /*max-width: 780px;*/
    /*margin: auto;*/
    /*min-height: 100vh;*/
/*}*/

.container-promotion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        /*"banner"*/
            "header"
            "main"
            "footer";
    background-color: #f0f2f59c;
    max-width: 780px;
    margin: auto;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        /*"banner"*/
            "header"
            "main"
            "footer";
    /*background-color: #f0f2f59c;*/
    max-width: 780px;
    margin: auto;
    min-height: 100px;
}

.newuser{
    color: #252526;
    margin-left: 120px;
}
/*new homepage*/
/*.container-index {*/
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: auto auto auto;*/
    /*grid-template-areas:*/
        /*!*"banner"*!*/
            /*"header"*/
            /*"main"*/
            /*"footer";*/
    /*!*background-color: #C89691;*!*/
    /*background-image: url("../images/indexaircraft.jpg");*/
    /*max-width: 780px;*/
    /*margin: auto;*/
    /*min-height: 100vh;*/
/*}*/

.banner {
    grid-area: banner;
}

.main-area {
    grid-area: main;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.site-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    background-color: #252526;
}
.site-header-title {
    display:flex;
    align-items: center;
    margin-left: 30px;
}

.site-header-title h2 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/*!*new homepage*!*/
/*.site-header-index {*/
    /*grid-area: header;*/
    /*padding-bottom: 20px;*/
    /*font-family: 'Ubuntu', sans-serif;*/
/*}*/
/*.site-header-index h1 {*/
    /*font-family: 'Cookie', cursive;*/
/*}*/
/*.site-index {*/
    /*grid-area: main;*/
    /*!*background-color: #C89691;*!*/
/*}*/


.site-main {
    grid-area: main;
    padding: 50px;
    background-color: white;
}
.site-main-body{
    display:flex;
    flex-direction: column;
}
.site-main-subbody-title h2{
    color: #252526;
}
.site-main-subbody{
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-width: 5px;
    border-color: #252526;
    margin-bottom: 30px;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.site-main-promotion {
    grid-area: main;
    /*background-color: #C89691;*/
    background-color: white;
}
.site-main-promotion-drop{
    display: flex;
    flex-direction: row;
}

.post {
    display: grid;
    grid-template-columns: auto auto;
    /*grid-auto-rows: auto;*/
    grid-template-areas:
            "title title"
            "content content";
    /*background-color: #C89691;*/
    padding: 15px;
}
.post-title {
    grid-area: title;
    background-color: white;
    padding:10px;
    border: 3px solid #91867E;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    color: #74A18E;
}
.post-content {
    grid-area: content;
    background-color: #74A18E;
    padding: 10px;
    border: 3px solid #74A18E;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
}

.post-comment {
    grid-area: content;
    /*background-color: #C9C27F;*/
    background-color: lightgoldenrodyellow;
    border: 3px solid burlywood;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    /*font-family: 'Crete Round', serif;*/
    /*margin-top: 10px;*/
    color: black;
    /*width: 100%;*/
}

.post h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.post-title p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 10px;
}

.post-content p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.post-comment p {
    margin-top: 0;
    margin-bottom: 0;
}

.post div {
    margin-top: 0;
    margin-bottom: 0;
}


.site-footer {
    grid-area: footer;
}

form {
    display: grid;
    padding: 1em;
    margin: 1em auto 1em auto ;
    background: white;
    /*background-color: #00CC00;*/
    /*border-radius: 10px;*/
    grid-template-rows: auto;
    grid-gap: 1em;
    max-width: 400px;
    color: #252526;
    font-family: 'Ubuntu', sans-serif;
}

form input {
    background: #fff;
    border-radius: 5px;
    font: 0.9em sans-serif;
}

form textarea {
    background: #fff;
    border-radius: 5px;
    border: 0;
    grid-column: 2 / 4;
    font: 0.9em sans-serif;
}

input[type=submit], input[type=reset] {
    background:#252526;
    /*border-radius: 10px;*/
    padding: 0.5em;
    width: 100%;
    border:#f3f0eb;
    color: #fff;
}
.input_cancle {
    background:#252526;
    border-radius: 5px;
    width: 100%;
    border:#f3f0eb;
    color: #fff;
    margin-right: 15px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

input:focus {
    outline: 3px solid gold;
}


label {
    text-align: left;
    grid-column: 1 / 2;
    font-size: 20px;
}

input, button {
    grid-column: 2 / 4;
}

input[type=submit] {
    grid-column: 2 / 3;
}

input[type=reset] {
    grid-column: 3 / 4;
}

.error {
    text-align: center;
    color: firebrick;
}

.message {
    max-width: 800px;
    /*width: 350px;*/
    margin: 10px auto 10px auto;
    padding: 10px;
    text-align: center;
    /*background-color: #8DB6C7;*/
    /*font-size: 5em;*/
    border-radius: 10px;
    color:#252526;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
}

.add_comment {
    width: 250px;
    margin: 10px auto 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #8ba8af;
    /*background-color: #fec34d;*/
    /*border: solid #fff;*/
    font-size: 1.5em;
    border-radius: 15px;
    color: #fff;
    float: left;
}


.add_comment a[href] {
    color: #fff;
    text-decoration: none;
}

.add_comment a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}

/*chomind*/
.aa {
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: 70px auto;
    grid-template-areas:
            "title title"
            "image image"
            "content content";
    grid-gap: 10px;
    background-color: #e3d2d2;
    padding: 10px;
    border: 3px solid #91867E;
    border-radius: 8px;
    max-width: 780px;
    margin-bottom: 10px;
}
.aa-title {
    grid-area: title;
    background-color: white;
    border-radius: 8px;
    padding:10px;
    font-family: "Fira Code Light";
    color: #000000;
    text-align: center;
}
.aa-images {
    grid-area: image;
    background-color: #e3d2d2;
    padding:10px;
    text-align: center;
}
.aa-home-content {
    grid-area: content;
    font-size: 0.8em;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4em;
    line-height: 1.8em;
}
.aa-content {
    grid-area: content;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.read-more {
    text-align: center;
    margin: 10px auto;
    color: #888;
}


/*promotion*/

.promotion {
    display: grid;
    float:left;
    grid-template-rows: 280px auto auto;
    grid-template-columns: auto;
    grid-template-areas:
            "images"
            "name"
            "cost"
            "contact";
    grid-gap: 2px;
    background-color: #b6aa92;
    padding: 10px;
    border: 3px solid #91867E;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    margin-left: 20px;
}

.promotion-name {
    grid-area: name;
    background-color: #c7c2bf;
    border-radius: 8px;
    color: #765e51;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.promotion-cost {
    grid-area: cost;
    background-color: #e3d1bd;
    border-radius: 8px;
    color: #765e51;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.promotion-image {
    grid-area: images;
    background-color: #b6aa92;
    align-self: center;
}

.promotion img {
    width: 100%;
    height: auto;
    max-height: 250px;
}

.promotion-package {
    grid-area: contact;
    background-color: #c0a48f;
    color: #765e51;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

.promotion-username {
    color: #fff;
    font-size: 10px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.comfirm{
    background-color: #ffffff;
    padding: 50px;
}

.table{
    border: 2px solid black;
    border-collapse: collapse;
}