body {
    font-family: 'Taviraj', serif;
    line-height: 24px;
    background-color: #CAB394;
    /*background-image: url("../images/anotherpage.jpg");*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/

}

a[href] {
    color: #476286;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background-color: #F0F2F5;
    color: #999999;
    padding: 5px;
}

blockquote p {
    font-style: italic;
    padding: 0 10px;
}

blockquote p:last-child {
    font-style: normal;
    padding-left: 30px;

}

/* Header */

header {
    margin-top: 50px;
    /*padding: 40px 0;*/
    text-align: center;
    height: 120px;
}




/* Navigation */

nav {
    padding-right: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul > li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    color: #222;
    padding: 0px;
}

nav li > a {
    position: relative;
    display: block;
    padding: 5px 5px;
}


.pagination {
    text-align: center;
    margin: 30px auto;
    color: #888;
}

.pagination a {
    padding: 0 5px
}

/* Blog */

.date {
    font-size: 0.75em;
    color: #999999;
}

.icons {
    display: block;
    float: right;
}

.error {
    color: red;
}

/* Footer */

footer {
     background-color: #C89691;
     margin: auto;
     width: 720px;
     text-align: center;
 }

/*!*new-homepage*!*/
/*footer-index {*/
    /*!*background-color: #C89691;*!*/
    /*margin: auto;*/
    /*width: 720px;*/
    /*text-align: center;*/
/*}*/

